# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea/

ktcheck-document/src/docs/asciidoc/*.html
ktcheck-document/src/docs/asciidoc/*.pdf
ktcheck-document/src/docs/asciidoc/*.png
ktcheck-document/src/docs/asciidoc/.asciidoctor
